{% extends "commonbaseinv.html" %}
{% block content3 %}




<style>
    h1,td{color: rgb(8, 13, 13);
            padding: 15px;
             }
    input{color: black;
            height: 50px;
            border-radius: 1em;
            font-size: 15px;
            }  

    button{height: 40px;
            width: 90px;
            color: black;
            border-radius: 2em;}
    button:hover{background-color: black;
                color:rgb(245, 245, 243);
    }
    input[type=file]{background-color: azure;
                    width:370px}
    /* .formstyle{background-color: black;} */

    
</style>
<div class="formstyle">
<center>
<h1><u>Add new plans</u></h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        <tr><tr>
            <td><h4>Name of plan</h4></td></tr>
            <td><input type="text" required name="name" size="70"></td>
        </tr>
        <!-- <tr><tr>

            <td><h4>Address:</h4></td></tr>
            <td><input type="text" required name="add" size="70"></td>
        </tr>
        <tr><tr>
            <td><h4>Contact:</h4></td></tr>
            <td><input type="text" required name="con" size="70"></td>
        </tr>-->
        <tr><tr>
            <td><h4>Amount</h4></td></tr>
            <td><input type="text" required name="amt" size="70"></td>
        </tr>
        <tr><tr>
            <td><h4>Years</h4></td></tr>
            <td>
                <input type="text"  required name="time" size="70">
            </td>
        </tr>
        <tr><tr>
            <td><h4>Logo</h4></td></tr>
            <td>
                <input type="file"  required name="file" size="70">
            </td>
        </tr>
        <tr><tr>
            <td><h4 style="color:white">Rate of Interest</h4></td></tr>
            <td><input type="text"  required name="rate" size="70"></td>
        </tr>
        <tr><tr>
            <td><h4 style="color:white">EMI:</h4></td></tr>
            <!-- <td><input type="file" required name="photo" size="70"></td> -->
         <td>   <input type="text"  required name="emi" size="70"></td>
        </tr> 
       
        <tr>
            
            <td><button color="black"><b>Post</b></button></td>
        </tr>
    </table>
</form>
</center>

</div>










{% if messages %}
{% for msg in messages %}
<script>alert('{{msg}}')</script>
{% endfor %}
{% endif %}
{% endblock %}