{% extends "commonbaseinv.html" %}
{% block content3 %}

<center><h1><u><b>My Plans</b></u></h1></center>
<div class="w3-services-grids py-lg-4 text-center" style="padding: 20px;">
    <div class="fea-gd-vv row">
        {% for d in data %}
        <div class="col-lg-4 col-md-7" style="margin-bottom: 30px">
            <div class="feature-gd icon-yellow">
                <div class="icon">
                    <i
                        ><img
                            src="/static/media/{{d.image}}"
                            style="
                                height: 100px;
                                width: 100px;
                                padding-right: 26px;
                                padding-bottom: 5px;
                                border-radius: 50%;
                            "
                    /></i>
                </div>
                <div class="info" style="margin-top: 50px">
                    <h3>{{d.Name}}</h3>
                    <h3>Rs.{{d.Amount}}</h3>
                    <h3>{{d.Time}}Years</h3>
                    <h3>{{d.rate}}%</h3>
                    <h3>Rs.{{d.emi}}p.m</h3>
                    <ul style="list-style: none;">
                        <li class="cary-li-w3-agileits">
                            <div class="snipcart-details top_brand_home_details">
                                <form action="#" method="post">
                                    <fieldset>
                                        <a href="/editplan?id={{d.id}}"
                                            ><input
                                                type="button"
                                                name="submit"
                                                value="Edit"
                                                class="btn btn-primary"
                                        /></a>
                                    </fieldset>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% if messages %}
{% for msg in messages %}
<script>alert("{{msg}}")</script>
{% endfor %}
{% endif %}
{% endblock %}